
.letter { 
  display: block;
    margin-left: auto;
    margin-right: auto;
	width:50%;
	top: 50px
}

.buttonimg{
  background-color:blue;
	border-radius:4px;
	display:inline-block;
	cursor:pointer;
	color:#ffffff;
	font-family:Verdana;
	font-size:12px;
	font-style:italic;
	padding:12px 26px;
	text-decoration:none;
	margin:auto;
}

.center{
	text-align:center;
	margin: auto 0;
}

