.body {
  background-image: url('/images/gang_2.jpg');
}

.letter { 
  width: 414px;
	height: 585px;
}

.buttonimg{
  background-color:#2dabf9;
	border-radius:16px;
	display:inline-block;
	cursor:pointer;
	color:#ffffff;
	font-family:Verdana;
	font-size:13px;
	font-style:italic;
	padding:12px 26px;
	text-decoration:none;
}

