body{ 
  background-color: white; 
  color: black;
}


.header{
  background-image: url(../images/writing_1.jpg);
   background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
  }
  
  h1{
  color: black;
    text-align: center;
    font-size: 36px;
    font-family: Georgia;
}




