body{ 
  background-color: AntiqueWhite; 
  color: black;
}


.header{
  background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url(../images/oldpaper.jpg);
  height: 30%;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
}
  
  h1{
  color: black;
    text-align: center;
    font-size: 36px;
    font-family: Georgia;
}



