body{ 
  background-color: white; 
  color: black;
}

.exp{visibility: hidden;}

.header{
  background-image: url(../images/writing_2.jpg);
   background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
  padding: 80px;
  }
  
  h1{
  color: black;
    text-align: center;
    font-size: 36px;
    font-family: Georgia;
}

h2{
  color: black;
  text-align: center; 
  font-size: 28px;
  font-family: Georgia;
}

.left {
  float: left;
  width: 73%;
  background: #ccc;
  padding: 0px 10px 0px;
}

.article {
  float: right;
  padding: 0px 10px 0px;
  width: 23%;
  background-color: #f1f1f1;
  }

.section::after {
  content: "";
  display: table;
  clear: both;
}

.card{
  text-align: center;
}

.whiterow{
  background-color: white;
  height: 50px;
  width:100%;
}

p{
  font-family: Georgia;
}

.images {
  float: left;
  width: 20%;
  padding: 2px;
  }

.textoo{
  text-align: center;
  margin-top: 8px;
  text-decoration: none;
  color:black;
}
