.div.elem-group {
  margin: 40px 0;
}

.label {
  display: block;
  font-family: 'Verdana';
  padding-bottom: 4px;
  font-size: 1.25em;
}

.input, select, textarea {
  border-radius: 2px;
  border: 1px solid #ccc;
  box-sizing: border-box;
  font-size: 1.25em;
  font-family: 'Verdana';
  width: 500px;
  padding: 8px;
}

.textarea {
  height: 200px;
}

.button {
  height: 50px;
  background: blue;
  color: white;
  font-size: 1.25em;
  font-family: 'Verdana';
  border-radius: 4px;
  cursor: pointer;
}

.button:hover {
  border: 2px solid black;
}


.link-button-wrapper {
    width: 200px;
    height: 40px;
    box-shadow: inset 0px 1px 0px 0px #ffffff;
    border-radius: 4px;
    background-color: #097BC0;
    box-shadow: 0px 2px 4px gray;
    display: block;
    border:1px solid #094BC0;
}
.link-button-wrapper > a {
    display: inline-table;
    cursor: pointer;
    text-decoration: none;
    height: 100%;
    width:100%;
}
.link-button-wrapper > a > h1 {
    margin: 0 auto;
    display: table-cell;
    vertical-align: middle;
    color: #f7f8f8;
    font-size: 12px;
    font-family: cabinregular;
    text-align: center;
}
