.div.elem-group {
  margin: 40px 0;
}

.label {
  display: block;
  font-family: 'Verdana';
  padding-bottom: 4px;
  font-size: 1.25em;
}

.input, select, textarea {
  border-radius: 2px;
  border: 1px solid #ccc;
  box-sizing: border-box;
  font-size: 1.25em;
  font-family: 'Verdana';
  width: 500px;
  padding: 8px;
}

.textarea {
  height: 200px;
}

.button {
  height: 50px;
  background: blue;
  color: white;
  font-size: 1.25em;
  font-family: 'Verdana';
  border-radius: 4px;
  cursor: pointer;
}

.button:hover {
  border: 2px solid black;
}

