.image{
  position: relative;
   text-align:center;
}
.image a{
  display: block;      
  position: absolute;
}

.panorama{
  position: relative;
  width: 1280px;
  height: 1024px;
} 

html{
    height: 100%;
    margin: 0;
    padding: 0;
}
