html { 
  background: url(../images/watch.jpg) no-repeat center center fixed; 
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

body {
        margin=100%
}
nav ul, footer ul {
    font-family:'Helvetica', 'Arial', 'Sans-Serif';
    padding: 0px;
    list-style: none;
    font-weight: bold;
}
nav ul li, footer ul li {
    display: inline;
    margin-right: 20px;
}
a {
    text-decoration: none;
    color: #999;
}
a:hover {
    text-decoration: underline;
}

.myButton {
	background-color:#ffffff;
	-webkit-border-radius:42px;
	-moz-border-radius:42px;
	border-radius:42px;
	border:1px solid #000000;
	display:inline-block;
	cursor:pointer;
	color:#000000;
	font-family:Trebuchet MS;
	font-size:18px;
	font-style:italic;
	padding:8px 19px;
	text-decoration:none;
	&:hover {
	background-color:#ffffff;
}
 &:active {
	position:relative;
	top:1px;
}
 }

.center {
  margin: 0;
  position: absolute;
  top: 50%;
  left: 50%;
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
}
    
h1 {
    font-size: 3em;
    font-family:'Helvetica', 'Arial', 'Sans-Serif';
    color: #F8F8FF;
    text-align: center;
}
p {
    font-size: 1.5em;
    line-height: 1.4em;
    color: #F8F8FF;
    text-align: center;
}

div {
  background-color: rgba(0, 0, 0, 0.4);
  width: 80%;
  padding: 10px;
  margin: auto;
  }

footer {
    border-top: 1px solid #d5d5d5;
    font-size: .8em;
}

ul.posts { 
    margin: 20px auto 40px; 
    font-size: 1.5em;
}

ul.posts li {
    list-style: none;
}
