.image a{
  display: block;      
  position: absolute;
}

.image{
  position: relative;
    width: 100%;
}

.fullheight{
  height: 100vh;
width: auto;
position: relative;
font-size: 0;}

.img{ 
  height:100vh;
object-fit: contain;}

